*
!/*.sh
!/.gitignore
!/README.md
!/LICENSE
*main.sh
!/0-transfer_file
!/1-install_nginx_web_server
!/main_files/
!/main_files/*
!/2-setup_a_domain_name
!/3-redirection
!/4-not_found_page_404
!/7-puppet_install_nginx_web_server.pp
